.slick-slider .slick-list{margin: 0px -10px;}
.slick-slider .slick-slide{margin: 0px 10px;}

.slick-slider .slick-slide > div:nth-child(2){margin-top:20px;}

#content .slick-slider ul.slick-dots{margin: 0;}
#content .slick-slider ul.slick-dots li:before{content:none;}

/* Arrows */
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: -45px;
	display: block;
	width: 25px;
	height: 25px;
	padding: 0;
	/* -webkit-transform: translate(0, -50%); */
	/* -ms-transform: translate(0, -50%); */
	/* transform: translate(0, -50%); */
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	z-index: 99;
	border-radius: 50%;
	background-repeat:no-repeat;
	background-position:center;
	transition: all 0.5s;
}

.slick-prev {
	right: 35px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.0332 12.28L1.68654 7.9333C1.1732 7.41997 1.1732 6.57997 1.68654 6.06664L6.0332 1.71997' stroke='%23363636' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
}
.slick-next{
	right: 0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.966797 1.72003L5.31346 6.0667C5.8268 6.58003 5.8268 7.42003 5.31346 7.93336L0.966797 12.28' stroke='%23363636' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
}

.slick-prev:hover{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.0332 12.28L1.68654 7.9333C1.1732 7.41997 1.1732 6.57997 1.68654 6.06664L6.0332 1.71997' stroke='%23f35d00' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
}
.slick-next:hover{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.966797 1.72003L5.31346 6.0667C5.8268 6.58003 5.8268 7.42003 5.31346 7.93336L0.966797 12.28' stroke='%23f35d00' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
}


/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 40px;
}
.slick-dots {
	position: absolute;
	bottom: -30px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	vertical-align:top;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 12px;
	height: 12px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
	position: relative;
	transition: all 0.5s;
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	text-align: center;
	opacity: .25;
	background:#f85b16;
	transition: all 0.5s;
}
.slick-dots li.slick-active button:before {
	opacity: .75;
	color: black;
}

/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}